#!/bin/sh

set -e

. /usr/share/debconf/confmodule

# Based on code from dash postinst
check_divert() {
    package=insserv
    div=$(dpkg-divert --list $2)
    distrib=${4:-$2.distrib}
    case "$1" in
    status) # Return true if the divert is in effect
        if [ -n "$div" ] && [ -z "${div%%*by $package}" ]; then
	    :
	else
	    false
	fi
    esac
}

# Only enable this code if environment variable
# BAD_INSSERV_HACKER=true is set
[ true = "$BAD_INSSERV_HACKER" ] || exit 0

if check_divert status /usr/sbin/update-rc.d \
    /usr/sbin/update-rc.d-insserv ; then
    db_set insserv/enable true
else
    db_set insserv/enable false
fi

db_input medium insserv/enable || [ $? -eq 30 ]
db_go || true
