#!/bin/sh

set -e

. /usr/share/debconf/confmodule

flagfile=/etc/update-rc.d-insserv

# Only enable this code if environment variable
# BAD_INSSERV_HACKER=true is set
[ true = "$BAD_INSSERV_HACKER" ] || exit 0

if [ -f $flagfile ] ; then
    db_set insserv/enable true
else
    db_set insserv/enable false
fi

db_input medium insserv/enable || [ $? -eq 30 ]
db_go || true
