#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PACKAGE = insserv

CFLAGS = -W -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

#CFLAGS += -DDEBUG=1

INSTALL = install
INSTALL_DATA = $(INSTALL) -m644
DESTDIR = $(CURDIR)/debian/$(PACKAGE)

pkgdatadir = /usr/share/$(PACKAGE)
sbindir = /usr/sbin

include /usr/share/dpatch/dpatch.make

build: build-stamp

build-stamp: patch-stamp
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE) COPTS="$(CFLAGS)"

	chmod a+rx debian/run-testsuite
	debian/run-testsuite

	touch build-stamp

clean: unpatch
	dh_testdir
	rm -f build-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) clean

	rm -f missing overrides

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/$(PACKAGE).
	$(MAKE) install DESTDIR=$(DESTDIR)

	$(INSTALL_DATA) debian/overrides/* $(DESTDIR)$(pkgdatadir)/overrides/.
	$(INSTALL) debian/check-initd-order $(DESTDIR)$(pkgdatadir)/.
	$(INSTALL) debian/update-bootsystem-insserv $(DESTDIR)$(sbindir)/.
	$(INSTALL) debian/update-rc.d-insserv $(DESTDIR)$(sbindir)/.


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	dh_installdocs
	dh_installexamples
	dh_installdebconf
#	dh_install
	dh_installman debian/update-bootsystem-insserv.8 debian/update-rc.d-insserv.8
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install

# List the init.d missing LSB headers and override files
missing-overrides:
	@GET http://lintian.debian.org/reports/Tinit.d-script-missing-lsb-section.html| grep W: | rev | cut -d/ -f1 | rev | sort -u > missing
	@(ls debian/overrides/; cut -d" " -f1 debian/headers-reported |grep -v '#' ) |sort -u > overrides
	@echo -n "Init.d scripts missing overrides and BTS reports:         "; comm -23 missing overrides|wc -l
	@echo $$(comm -23 missing overrides) |fold -s | sed 's/^/  /'
	@echo -n "Scripts with overrides or BTS reports and no LSB header:  "; comm -12 missing overrides|wc -l
	@echo $$(comm -12 missing overrides) |fold -s | sed 's/^/  /'
	@echo -n "Scripts with overrides and not missing LSB header:        "; comm -13 missing overrides|wc -l
	@echo $$(comm -13 missing overrides) |fold -s | sed 's/^/  /'
	@echo -n "Override files that need a bug report:                    "; debian/bts-lefttoreport | wc -l
	@echo $$(debian/bts-lefttoreport | sort -u) |fold -s | sed 's/^/  /'
